#portfolio {
    padding: 50px 0;
}

#portfolio .work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    margin-top: 50px;
}

#portfolio .work-list .work{
    overflow: hidden;
    border-radius: 10px;
    /* width: 18rem; */
    height: 10rem;
    background-color: #303030;
    position: relative;
    margin: 1rem;
}

#portfolio .work-list .work img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

#portfolio .work-list .work .work-info{
    background: #fff;
    border-radius: .5rem;
    padding: 0.8rem;
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    display: flex;
    flex-direction: row;
}

#portfolio .work-list .work:hover .work-info{
    bottom: .8rem;
    transition-delay: .2s;
}

#portfolio .work-list .work .work-info h3{
    font-weight: 500;
    color: var(--grey);
    font-size: 14px;
    margin-left: 10px;
}

#portfolio .work-list .work .work-info a{
    color: var(--teal);
}

.work:hover img {
    transform: scale(1.1);
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--teal);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--font-color);
    transition: background 0.5s;
}

.btn:hover {
    background: var(--teal);
}